/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*Init Template Admin*/
.mat-drawer-content {
   
    overflow: unset!important;
  }
  .mat-drawer-container{
/* overflow: unset; */
overflow: inherit!important;
  }
  .mat-drawer.mat-drawer-side {
    z-index: 999!important;
}

.mat-drawer-content {
    z-index: auto!important;
}

.mat-drawer-container {
    z-index: auto!important;
}
/*End Template Admin*/